.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: solid 2px red;
}

.formControl.error span {
    color: red;
}

.formSummuryError{
    border: solid 2px red;
    padding: 5px;
    color: red;
    min-width: 150px;
}