.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.users {
    width: 80%;
    text-align: center;
}

.searchResult {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 640px) {
    .searchResult {
        justify-content: center;
    }
}