.activateEdit__btn {
    display: flex;
    justify-content: center;

    margin: 10px auto 30px;
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #601313;
}

.activateEdit__btn:hover {
    opacity: .9;
    color: #fff;
}

.activateEdit__btn button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}