.chatPageBlock {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatPage__title {
    font-size: 28px;
    font-family: 'Luckiest Guy', cursive;
    margin-bottom: 10px;
}

.chatPage__title:hover {
    color: #fff;
    text-shadow: 3px 2px 0 #030303;
}
