.message {
    display: flex;
    align-items: center;

    background-color: #dcb87e;
    padding: 10px;
    margin-bottom: 2px;
    border: 3px outset;
    border-radius: 10px;
}

.message__item {
    padding-top: 5px;
    width: 15%;
    text-align: center;
}

.message__userName {
    font-weight: 700;
    padding-top: 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}

.message__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #601313;
}

.message__text {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    font-size: 24px;
    font-family: 'Pangolin', cursive;
    font-weight: 700;
}