.message {
    display: flex;
    align-items: center;

    background: linear-gradient(#dcb87e, #b67e36);
    padding: 10px;
    margin-bottom: 2px;
    border: 3px outset;
    border-radius: 10px;
}

.message__item {
    padding-top: 5px;
    width: 15%;
    text-align: center;
}

.message__userName {
    font-weight: 700;
    padding-top: 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}

.message__img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px outset #fff;
    cursor: pointer;
    box-shadow: 3px 5px 10px 2px rgb(34 60 80 / 60%);
}

.message__img:hover {
    border: 4px outset #905e1c;
}

.message__text {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    font-size: 24px;
    font-family: 'Pangolin', cursive;
    font-weight: 700;
}

@media screen and   (max-width: 600px) {

    .message__userName {
        font-size: 18px;
    }

    .message__img {
        width: 50px;
        height: 50px;
    }

    .message__text {
        margin-left: 20px;
        font-size: 18px;
    }
}

@media screen and   (max-width: 400px) {

    .message__userName {
        font-size: 16px;
    }

    .message__img {
        width: 40px;
        height: 40px;
    }

    .message__text {
        font-size: 14px;
    }
}