.news {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;

  .news__title {
    font-size: 32px;
    font-weight: 700;
    font-family: 'Luckiest Guy', cursive;
    padding: 0 0 10px 0;

    &:hover {
      color: #333;
    }

  }


  .newsBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .addNewsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    textarea {
      width: 90%;
      outline: none;
      border: 2px solid #dcb87e;
      border-radius: 5px;
      min-height: 30px;
      font-family: 'Montserrat', sans-serif;
      font-size: large;
      padding-left: 25px;
      resize: none;
    }

    .ErrorBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      textarea {
        border: 2px solid red;
        width: 90%;
      }

      .addNewsError {
        color: red;
        font-size: 18px;
      }

    }

    .button__group {
      width: 300px;
      display: flex;
      flex-wrap: wrap;
    }

  }

  .form__btn {
    display: flex;
    justify-content: center;

    margin: 10px auto 30px;
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #601313;

    &:hover {
      opacity: .9;
      color: #fff;
    }

    button {
      border: none;
      background: none;
      color: #fff;
      cursor: pointer;
    }

  }

}


