@import 'src/assets/styles/SASS/variables';

.profile {
  width: 100%;

  .avatarBlock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 220px;
    text-align: center;
    position: relative;

    @media screen and (max-width: 850px) {
      height: 180px;
    }

    @media screen and (max-width: 500px) {
      flex-direction: column;
      flex-wrap: wrap;
      height: 220px;
    }

    .avatar {
      width: 50%;
      margin: 0 auto;

      .mainPhoto {
        max-width: 200px;
        max-height: 200px;
        border-radius: 50%;
        border: 6px outset $backgroundAndTextHoverFirstColor;
        box-shadow: 3px 5px 10px 2px rgb(34 60 80 / 60%);

        @media screen and (max-width: 850px) {
          max-width: 150px;
          max-height: 150px;
        }

        @media screen and (max-width: 500px) {
          max-width: 120px;
          max-height: 120px;
          border: 4px outset $backgroundAndTextHoverFirstColor;
        }

      }

    }

  }

  .profile__inner {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .addedPhoto__btn {
      margin-top: 30px;

      .avatarEdit {
        position: absolute;
        right: 65%;
        z-index: 1;
        top: 155px;

        @media screen and (max-width: 850px) {
          right: 65%;
          top: 120px;
        }

        @media screen and (max-width: 650px) {
          right: 62%;
          top: 125px;
        }

        @media screen and (max-width: 500px) {
          right: 35%;
          top: 90px;
        }

        @media screen and (max-width: 450px) {
          right: 30%;
        }

        label {
          display: inline-block;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: $backgroundAndTextHoverFirstColor;
          border: 3px outset #333;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
          cursor: pointer;
          font-weight: normal;
          transition: all .2s ease-in-out;

          @media screen and (max-width: 850px) {
            display: inline-block;
            width: 40px;
            height: 40px;
          }

          &:after {
            content: "📷";
            font-size: 30px;
            color: #757575;
            position: absolute;
            top: 5px;
            left: 0;
            right: 0;
            text-align: center;
            margin: auto;

            @media screen and (max-width: 850px) {
              font-size: 22px;
              top: 3px;
            }

          }

          &:hover {
            background-color: #ab9c9c;
            border: 3px solid $backgroundAndTextHoverFirstColor;
          }

        }

        input {
          display: none;
        }

      }

    }

  }

  .view__btn {
    display: flex;
    justify-content: center;

    margin: 10px auto 10px;
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    background-color: $backgroundAndTextFirstColor;

    &:hover {
      opacity: .9;
      color: $backgroundAndTextHoverFirstColor;
    }

    button {
      border: none;
      background: none;
      color: $backgroundAndTextHoverFirstColor;
      cursor: pointer;
    }

  }

}