h3:hover {
    color: #333;
}

.statusText {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Luckiest Guy', cursive;
}

.activeInput {
    width: 300px;
    font-size: 28px;
    font-weight: 700;
    font-family: 'Luckiest Guy', cursive;
}

.status__text {
    cursor: pointer;
    font-size: 18px;
    font-family: 'Handlee', cursive;
}

.status__text:hover {
    color: #333;
}

.status__pencil:hover {
    color: #a8792f;
}

.activeInput input {
    width: 300px;
    height: 30px;
}
