.userPhoto {
    width: 100px;
    height: 100px;
    border: 4px outset #fff;
    border-radius: 50%;
}

.userPhoto:hover {
    border: 4px outset #905e1c;
}

.userBlock {
    margin: 0 auto 20px;
    width: 300px;
    padding: 30px;
    background-color: #dcb87e;
    border-radius: 20px;
    border: 3px outset;
}

.user__btn {
    display: flex;
    justify-content: center;

    margin: 10px auto 20px;
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #601313;
}

.user__btn:hover {
    opacity: .8;
    color: #fff;
}

.user__btn button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
}

.userInfo {
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    color: #601313;
    font-weight: 700;
}

.user__text {
    font-weight: 400;
}

@media (max-width: 1140px) {
    .userBlock {
        width: 250px;
    }
}

@media (max-width: 950px) {
    .userBlock {
        width: 300px;
    }
}

@media (max-width: 760px) {
    .userBlock {
        width: 250px;
    }
}


@media (max-width: 640px) {
    .userBlock {
        width: 300px;
    }
}

