@import '../../../../assets/styles/SASS/variables';

.userBlock {
  margin: 0 auto 20px;
  width: 300px;
  padding: 30px;
  background-color: #dcb87e;
  border-radius: 20px;
  border: 3px outset;
  box-shadow: 3px 5px 10px 2px rgb(34 60 80 / 20%);

  &:hover {
    background-color: #d3b37e;
  }

  @media screen and (max-width: 1140px) {
    width: 250px;
  }

  @media screen and (max-width: 950px) {
    width: 300px;
  }

  @media screen and (max-width: 760px) {
    width: 250px;
  }

  @media screen and (max-width: 640px) {
    width: 300px;
  }

  .userPhoto {
    width: 100px;
    height: 100px;
    border: 4px outset $backgroundAndTextHoverFirstColor;
    border-radius: 50%;
    box-shadow: 3px 5px 10px 2px rgb(34 60 80 / 60%);

    &:hover {
      border: 4px outset #905e1c;
    }

  }

  .user__btn {
    display: flex;
    justify-content: center;

    margin: 10px auto 20px;
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    background-color: $backgroundAndTextFirstColor;

    &:hover {
      opacity: .8;
      color: $backgroundAndTextHoverFirstColor;
    }

    button {
      border: none;
      background: none;
      color: $backgroundAndTextHoverFirstColor;
      cursor: pointer;
    }

  }

  .user__btn_unFollow {
    display: flex;
    justify-content: center;

    margin: 10px auto 20px;
    text-align: center;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
    background-color: #417345;

    &:hover {
      background-color: #254b29;
      color: $backgroundAndTextHoverFirstColor;
    }

    button {
      border: none;
      background: none;
      color: $backgroundAndTextHoverFirstColor;
      cursor: pointer;
    }

  }

  .userInfo {
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
    color: $backgroundAndTextFirstColor;
    font-weight: 700;

    a {
      text-decoration: none;
      color: $backgroundAndTextFirstColor;

      &:hover {
        text-decoration: underline;
      }

    }

    .user__text {
      font-weight: 400;
    }

  }
}

