@import 'src/assets/styles/SASS/variables';

.nav {
  background-color: #dcb87e;
  padding: 0 10px;
  width: 100%;
  margin-top: 5px;
  height: 50px;

  .nav__block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;

    .item {
      text-align: center;
      padding: 10px 0;
      font-size: 18px;
      width: 17%;
      min-height: 50px;
      font-family: 'Dancing Script', cursive;

      &:hover {
        background-color: #e3c796;
        border-bottom: 3px solid $backgroundAndTextFirstColor;
      }

      a {
        padding-left: 10px;
        color: $backgroundAndTextFirstColor;
        text-decoration: none;
        font-weight: bold;
      }

      a.activeLink {
        color: $backgroundAndTextHoverFirstColor;
      }

      .nav__text {
        font-family: 'Patrick Hand', cursive;
        font-size: 20px;

        @media screen and (max-width: 500px) {
            font-size: 14px;
        }
      }

    }
  }
}