.nav {
    grid-area: n;
    background-color: #dcb87e;
    padding: 15px;
}

.item {
    padding: 10px 0px;
    margin: 5px;
    border: solid #ce3f13;
    border-radius: 7px;
    background-color: #d2bdbd;
}

.item a{
    padding-left: 10px;
    color: #ce3f13;
    text-decoration: none;
}

.item a.activeLink {
    color: #730bc4;
}

a:hover {
    color: green;
    font-weight: bolder;
}