.saveEdit__btn {
  display: flex;
  justify-content: center;

  margin: 10px auto 10px;
  text-align: center;
  width: 120px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  background-color: #601313;

  &:hover {
    opacity: .9;
    color: #fff;
  }

  button {
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
  }

}

.formContainer {
  font-size: 18px;

  .form_edit {
    display: flex;
    flex-direction: column;
    align-items: center;

    .formBlock {
      width: 100%;
      text-align: center;
      padding: 3px 0;
      margin-bottom: 6px;

      @media screen and (max-width: 755px) {
        display: block;
        text-align: center;
      }

      input {
        width: 60%;

        @media screen and (max-width: 755px) {
          width: 80%;
        }
      }

    }

    .formBlock__check {
      display: flex;
      margin-bottom: 6px;
    }

    .contacts__Title {
      font-size: 24px;
      font-weight: 700;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      text-decoration: underline;
      font-family: 'Pangolin', cursive;

      &:hover {
        color: #333;
      }

    }

    .contactsBlock {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 755px) {
        justify-content: center;
      }

      .contact__item {
        width: 300px;
        text-align: center;
        margin-bottom: 20px;

        @media screen and (max-width: 1130px) {
          width: 45%;
        }

        @media screen and (max-width: 755px) {
          width: 80%;
        }

        b {
          font-size: 20px;
        }

        input {
          width: 100%
        }
      }
    }
  }

}
