.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 60px;
    background-color: #601313;
    padding: 10px 5px;
    border-radius: 5px 5px 0 0;
}

.copyright__text {
    text-align: center;
    font-size: 14px;
    color: #fff;
}


.copyright__text .copyright__header {
    color: #d32828;
}