.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.dialog__name {
    color: #601313;
    text-decoration: none;
    font-weight: bold;
    font-family: "Century Gothic";
}

.dialog__name:hover {
    text-decoration: underline;
}

.dialog img {
    width: 100px;
    height: 100px;
    border: solid 3px #443d32;
    border-radius: 50%;
}