.dialogs {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
}

.dialogs__dialog {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.dialogItem {
    width: 15%;
}

.messages {
    width: 75%;
}
