.message {
    margin: 10px 0;
}

.message__item {
    border: dotted 1px black;
    width: 100%;
    border-radius: 20px 20px 20px 0;
    padding: 15px 20px;
    background-color: #f3ebe2;
    font-size: 1.2em;
    font-style: oblique;
    min-height: 130px;
}