@import 'src/assets/styles/SASS/variables';

.login__block {
  width: 100%;

  .login__title {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    margin-bottom: 20px;

    &:hover {
      color: $backgroundAndTextHoverFirstColor;
      text-shadow: 3px 2px 0 #030303;
    }

  }

}

.input__form {
  margin: 0 auto;
  text-align: center;

  input {
    width: 60%;
    height: 25px;
    margin-bottom: 3px;
    border-radius: 4px;
  }

}

.checkbox__form {
  margin: 0 auto;
  text-align: center;

  input {
    height: 15px;
    margin-bottom: 3px;
  }

}

.form__btn {
  display: flex;
  justify-content: center;

  margin: 10px auto 30px;
  text-align: center;
  width: 120px;
  height: 30px;
  border-radius: 3px;
  cursor: pointer;
  background-color: $backgroundAndTextFirstColor;

  &:hover {
    opacity: .9;
    color: $backgroundAndTextHoverFirstColor;
  }

  button {
    border: none;
    background: none;
    color: $backgroundAndTextHoverFirstColor;
    cursor: pointer;
  }

}

