.dialogs {
    display: grid;
    grid-template-columns: 1fr 1fr 14fr;
    padding: 15px;
}

.dialogItem {

}

.dialog a {
    color: #211d1c;
    text-decoration: none;
    font-weight: bold;
    font-family: "Century Gothic";
}

.dialog a:hover {
    color: green;
}

