.appContent {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas: "h h" "n p" "f f";
    width: 1200px;
    margin: 0px auto;

}
