.appContent {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas: "h h" "n p" "f f";
    width: 1200px;
    margin: 0px auto;
    background-color: #efdddd;

}

.appContentWindow {
    background-color: rgba(108, 168, 224, 0.87);
}
