.formBlock {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
}

.formBlock a {
    text-decoration: none;
    color: black;
}

.formBlock a:hover {
    text-decoration: underline;
    color: #333;
}

@media screen and  (max-width: 1100px) {

    .formBlock {
        width: 50%;
    }

}

@media screen and  (max-width: 600px) {

    .formBlock {
        min-width: 300px;
        font-size: 14px;
    }

}