.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dcb87e;
    margin-bottom: 10px;
    border: 3px outset;
    border-radius: 10px;
}

.itemText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    text-align: left;
}

.postAvatar {
    width: 15%;
    min-width: 90px;
}

.postAvatar img {
    margin: 10px 0;
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: solid 3px #601313;
}

.likeCounter {
    cursor: pointer;
    color: #151313;
}

.active {
    color: red;
}