.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dcb87e;
    margin-bottom: 5px;
    border: 3px outset;
    border-radius: 10px;
}

.itemText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    text-align: left;
    font-size: 26px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.postAvatar {
    width: 15%;
    min-width: 90px;
}

.postAvatar img {
    margin: 10px 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: outset 4px ;
}

.postAvatar img:hover {
    border: outset 4px #905e1c;
}

.likeCounter {
    font-size: 20px;
}

.likeCounter:hover {
    color: #fff;
}

.active {
    color: red;
}

.activeBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 10px 0 0 0;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

.fingerUp:hover {
    color: #fff;
}

@media (max-width: 750px) {

    .postAvatar img {
        width: 60px;
        height: 60px;
    }

    .itemText {
        font-size: 22px;
    }

    .likeCounter {
        font-size: 16px;
    }
}

@media (max-width: 500px) {

    .postAvatar img {
        width: 50px;
        height: 50px;
    }

    .itemText {
        font-size: 14px;
    }

    .activeBlock {
        width: 120px;
    }

    .likeCounter {
        font-size: 12px;
    }

    .activeBlock {
        width: 80px;
    }
}

@media (max-width: 400px) {

    .likeCounter {
        font-size: 10px;
    }

    .activeBlock {
        width: 80px;
    }
}